<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table{
        text-align: center;
        background-color:darkcyan;
        margin: auto;
    }
</style>
<body>
    <h2 style="text-align: center;">Mobiless</h2>
    <table border="2px">
        <tr>
            <th>name</th>
            <th>price</th>
        </tr>
        {%for book in data%}
        <tr>
        <td>{{book.name}}</td>
        <td>{{book.price}}</td>
        </tr>
        {%endfor%}
    </table>
</body>
</html>